@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #fff;
    --text-color: #333;
    --text-subcolor: #666;
    --link-color: #006bd6;
    --link--hover-color: #006bd6;

    --font-main: "Montserrat", sans-serif;
}

html {
    font-size: 10px;

    @media (max-width: 640px) {
        font-size: calc(10vw / 3.6);
    }

    @media (max-height: 640px) and (orientation: landscape) {
        font-size: calc(10vh / 3.6);
    }

}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: var(--font-main);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}


a {
    color: var(--link-color);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: var(--link--hover-color);
    }
}

.disabled,
[disabled] {
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: .5;
}

.main-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    flex-direction: column;
    position: relative;
}

.content-container {
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
}